<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/index.css') }}"
    />
    <script>
      window.GOOGLE_FORM_URL = "{{ form_base_url }}";
    </script>
    <script
      src="{{ url_for('static', filename='js/feedback.js') }}"
      defer
    ></script>
    <title>Feedback</title>
  </head>
  <body>
    <div class="container">
      <a id="back-btn" href="{{ url_for('main.home') }}">← Back</a>
      <form id="feedbackForm">
        <fieldset>
          <legend>Similarity Checker Demo - Feedback</legend>
          <label>
            Name 1:
            <input type="text" name="name1" value="" readonly />
          </label>
          <label>
            Name 2:
            <input type="text" name="name2" value="" readonly />
          </label>
          <label>
            Rating:
            <input type="number" name="rating" value="" readonly />
          </label>
          <label>
            Issue:
            <textarea
              name="issue"
              placeholder="Describe the issue"
              required
            ></textarea>
          </label>
          <button type="submit" class="submit">Report Issue</button>
        </fieldset>
      </form>
      <div class="output">
        <p class="output__message--status"></p>
      </div>
      <div id="go-back" class="go-back go-back-button" style="display: none">
        <a href="{{ url_for('main.home') }}" class="go-back-button"
          >Try again</a
        >
      </div>
    </div>
  </body>
</html>
